<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<% if user_signed_in? %>
  <div id="current-user"></div>
        <!-- ... -->
<% end %>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Usuarios', users_path %></li>
</ul>