<div id="notification">
  <div class="close">close me</div>
  <p>
    <%= mensaje.body %><br>
    from <%= mensaje.user.name %>
  </p>
  <p><%= link_to 'Take me there now!', chat_path(mensaje.chat) %></p>
</div>