<br>
<div style="color:#000000; font-size:20px; font-family:'Trebuchet MS', 'Times', 'serif';" class = "col-md-6 col-md-offset-3">
  Chat con: <strong> <%= chat.with(current_user).name %> </strong>
  <br>
  <%= link_to 'Ver chat', chat_path(chat) %>
  <hr>
</div>